<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
  <br>
    <table class="table" id="example">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bug ID</th>
          <th scope="col">Commit Hash - Parent Hash</th>
          <th scope="col">Bug Severity</th>
          <th scope="col">CC List</th>
          <th scope="col">Bug Assignee</th>
          <th scope="col">Opened Bug</th>
          <th scope="col">Commit Author</th>
          <th scope="col">Pushed Commit</th>
          <th scope="col">Files</th>
        </tr>
      </thead>
      <tbody>
      {% for tb in tracked_bugs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ tb.bug.bug_identifier }}</td>
          <td>{{ tb.log.commit_hash }} <br> {{ tb.log.parent_hash }} </td>
          <td>{{ tb.bug.severity }}</td>
          <td>{{ tb.bug.get_cc_list }}</td>
          <td>{{ tb.bug.assignee }}</td>
          <td>{{ tb.bug.opened|date:"Y-m-d" }}</td>
          <td>{{ tb.log.author }}</td>
          <td>{{ tb.log.date|date:"Y-m-d" }}</td>
          <td><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{ tb.id }}" aria-expanded="false" aria-controls="collapseExample">Show</button></td>
        </tr>
          <!-- -->
          <tr>
            <td class="collapse" id="collapseExample{{ tb.id }}" colspan="10">
                <table class="table table-borderless" id="example2">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Filename</th>
                      <th scope="col">Path</th>
                      <th scope="col">Insertions</th>
                      <th scope="col">Deletions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for file in tb.get_files %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ file.file_name }}</td>
                      <td>{{ file.file_path }}</td>
                      <td>{{ file.insertions }}</td>
                      <td>{{ file.deletions }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            //$('#example').DataTable();
        });
    </script>
  </body>
</html>